# Ambientes Python e cache
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Dados e modelos grandes
*.h5
*.pb
*.zip
*.png
*.jpg
*.jpeg
*.csv
*.npy
*.npz
*.pt
*.pth
*.tsv

# Pastas de treino/teste
pizza_steak/train/
pizza_steak/test/
untitled_project/trial_*/
10_food_classes_all_data/

# Outros
24.3.25/
ml_env/
env/
venv/
.ml_env/
.env/
.ml_win/
ml_win/
.ml_ai/
ml_ai/

# Modelos salvos
model_6_h5/
model_logs/
model_6_SavedModel_format/

# Datasets de Imagens
10_food_classes_1_percent/
10_food_classes_10_percent/
101_food_classes_10_percent/
custom_food_images/

# Modelos Salvos e Checkpoints
06_101_food_class_10_percent_saved_big_dog_model/
10_food_classes_model_10/
model_checkpoints/
SAVE_DIR/
ten_percent_checkpoint_weights/

# Logs e Histórico de Treino
runs/
training_logs/
transfer_learning/

# Cache e Arquivos Soltos do Sistema/Modelos
.venv/
__MACOSX/
**/tensorflow_hub/
101_food_classes_10_percent_data_model_checkpoint.*
vectors.tsv
metadata.tsv
checkpoint

# Arquivos de variáveis do TensorFlow
*.data-00000-of-*
*.data-*
*.index
